
/*Normal color model*/
h1 {
    color: aquamarine;
}

p {
    color: black;
}


/* The RGB Color model*/
h1 {
    color: rgb(44, 67, 60);
}

p {
    color: rgb(100, 255, 100);
}

/* The rgba color model*/
h1 {
    color: rgba(255, 55, 22, 0.9);
}